{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}
{% extends "paceeGameBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Ajout d'un nouveau jeu{% endblock %}


{% block body %}

<div class="well">
  {{ form(form) }}
</div>

{% endblock %}